server:
  logLevel: debug

globals:
  datasetBaseUrl: env:DATASET_BASE_URL
  endpoints:
    default:
      url: /query

plugins:
  static-assets:
    module: lindas-trifid-core/plugins/static.js
    order: 0
    paths: /static-assets
    config:
      directory: file:static

  welcome:
    module: lindas-trifid-core/plugins/view.js
    paths: /
    methods: GET
    config:
      path: file:welcome.hbs

  entity-renderer:
    module: lindas-trifid-entity-renderer
    config:
      followRedirects: true
      # Enable named graph enrichment for GraphDB (which doesn't return graph info in DESCRIBE)
      enrichWithNamedGraph: true
      # Use GraphDB's CBD virtual graph to avoid SCBD expanding blank nodes (RDF lists)
      # See: https://graphdb.ontotext.com/documentation/10.8/virtual-graphs.html#describe-outgoing
      resourceGraphQuery: "DESCRIBE <{{iri}}> FROM <http://www.ontotext.com/describe/outgoing>"
      labelLoader:
        chunkSize: 30
        concurrency: 2
        timeout: 4000

  yasgui:
    module: lindas-trifid-plugin-yasgui
    paths:
      - /sparql
      - /sparql/

  graph-explorer:
    module: lindas-trifid-plugin-graph-explorer
    paths:
      - /graph-explorer
      - /graph-explorer/

  spex:
    module: lindas-trifid-plugin-spex
    paths:
      - /spex
      - /spex/

  sparql-proxy:
    module: lindas-trifid-plugin-sparql-proxy
    paths: /query
    config:
      allowRewriteToggle: true
      rewrite: false
      rewriteQuery: true
      rewriteResults: true
      endpointUrl: env:SPARQL_ENDPOINT_URL
      username: env:SPARQL_ENDPOINT_USERNAME
      password: env:SPARQL_ENDPOINT_PASSWORD
      formats:
        ttl: "text/turtle"
        jsonld: "application/ld+json"
        xml: "application/rdf+xml"
        nt: "application/n-triples"
        trig: "application/trig"
        csv: "text/csv"
